@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root{
    --dark-blue:hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

body{
    font-family: Public Sans;
    width: 100%;
    margin: 0;
    font-size: 18px;
}

header, .first{
    width: 80%;
    margin: 0 auto;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    font-size: 16px;
}

.menu{
    display: flex;
    list-style: none;
    height: 100%;
    width: 410px;
    align-items: center;
    justify-content: space-between;
}

a:link{
    text-decoration: none;
}

.btn{
    height: 44px;
    width: 170px;
    border-radius: 30px;
    background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn p{
    color: var(--white);
}


